services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - /home/pi/Documents/torrent/:/config
      - /home/pi/Documents/torrent/downloads:/downloads
    networks:
      - proxy-nw  # Connected to both!
    ports:
#      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.torrent.rule=Host(`torrent.local`)"
      - "traefik.http.services.torrent.loadbalancer.server.port=8080"

networks:
  proxy-nw:
    external: true